@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <span class="@BackgroundColor">@currentCount</span> </p>

<button class="btn btn-primary" @onclick="IncrementCount" disabled="@(currentCount > 10)">Click me</button>

@code {
    private int currentCount = 0;

    private string BackgroundColor => (currentCount % 2 == 0) ? "red-background" : "yellow-background";

    private void IncrementCount(MouseEventArgs e)
    {
        if(e.CtrlKey)
        {
            currentCount--;       
        }
        else
        {
            currentCount++; 
        }
    }
}
