<h3>RoundAlert</h3>

<div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkbsSRJqNkUN6Yo1zwoqTiEg9hPYVdlyGtrANGI6fpZw&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@CardTitle</h5>
    <p class="card-text">@(CardContent)값</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

@code {
    [Parameter]
    public string CardTitle { get; set; } = string.Empty;

    [Parameter]
    public string CardContent { get; set; } = string.Empty;


}
