WebApplication6/bin/
TestWebApp.AuthenticationAuthorization/bin/
TestWebApp/bin/
TestWebApp.Database/bin/
TestWebApp.DotNetNote/bin/
TestWebApp.DotNetSale/bin/
TestWebApp.DXWebApplication/bin/
TestWebApp.Identity/bin/
TestWebApp.NoticBoard/bin/
TestWebApp.Website/bin/
TestWebApp.DevExtreme/bin/
TestWebApp.RazorEngineCore/bin/
TestWebApp.WebApi/bin/
TestWepApp.BlazorApp/bin/
TestWepApp.BlazorApp.Database/bin/
TestWepApp.Components.Library/bin/
TestWepApp.BlazorWASM/bin/
Note.BLL/bin/
Note.DAL.MSSQL/bin/
Note.IDAL/bin/
Note.Model/bin/
Note.MVC/bin/
Note.Oracle.DAL/bin/


WebApplication6/obj/
TestWebApp.AuthenticationAuthorization/obj/
TestWebApp/obj/
TestWebApp.Database/obj/
TestWebApp.DotNetNote/obj/
TestWebApp.DotNetSale/obj/
TestWebApp.DXWebApplication/obj/
TestWebApp.Identity/obj/
TestWebApp.NoticBoard/obj/
TestWebApp.Website/obj/
TestWebApp.DevExtreme/obj/
TestWebApp.RazorEngineCore/obj/
TestWebApp.WebApi/obj/
TestWepApp.BlazorApp/obj/
TestWepApp.BlazorApp.Database/obj/
TestWepApp.Components.Library/obj/
TestWepApp.BlazorWASM/obj/
Note.BLL/obj/
Note.DAL.MSSQL/obj/
Note.IDAL/obj/
Note.Model/obj/
Note.MVC/obj/
Note.Oracle.DAL/obj/


.vs/
/TestWebApp.Database/TestWebApp.Database.jfm
/TestWebApp.Database/TestWebApp.Database.dbmdl
/TestWepApp.BlazorApp.Database/TestWepApp.BlazorApp.Database.dbmdl
/TestWepApp.BlazorApp.Database/TestWepApp.BlazorApp.Database.jfm
