WebApplication6/bin/
TestWebApp.AuthenticationAuthorization/bin/
TestWebApp/bin/
TestWebApp.Database/bin/
TestWebApp.DotNetNote/bin/
TestWebApp.DotNetSale/bin/
TestWebApp.Identity/bin/
TestWebApp.NoticBoard/bin/
TestWebApp.Website/bin/
TestWebApp.DevExtreme/bin/
TestWebApp.RazorEngineCore/bin/

WebApplication6/obj/
TestWebApp.AuthenticationAuthorization/obj/
TestWebApp/obj/
TestWebApp.Database/obj/
TestWebApp.DotNetNote/obj/
TestWebApp.DotNetSale/obj/
TestWebApp.Identity/obj/
TestWebApp.NoticBoard/obj/
TestWebApp.Website/obj/
TestWebApp.DevExtreme/obj/
TestWebApp.RazorEngineCore/obj/

.vs/
/TestWebApp.Database/TestWebApp.Database.dbmdl
/TestWebApp.Database/TestWebApp.Database.jfm
