@{
    Layout = null;
}
<!DOCTYPE html>
<html >
<head>
    <title>폼 유효성 검사</title>
</head>
<body>
    <h1>폼 유효성 검사</h1>

    <ul>
        <li><a href="/FormValidationDemo/Index">메인</a></li>
        <li><a href="/FormValidationDemo/Html">Html</a></li>
        <li><a href="/FormValidationDemo/HelperMethod">헬퍼메서드</a></li>
        <li><a href="/FormValidationDemo/Index"></a></li>
    </ul>
</body>
</html>