@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model TestWebApp.DotNetNote.Models.DemoModel
@{
    Layout = null;
}
<h1>모델 형식으로 전송된 데이터</h1>
<h1>ID : @Model.Id</h1>
<h1>Name : @Model.Name</h1>




