@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h1>Review 페이지</h1>

<a href="/Basic/Unit">Unit 페이지로 이동(순수 HTML)</a>
@*asp.net core 태그 헬퍼(서버 측 기능)*@
<a asp-controller="Basic" asp-action="Unit">Unit 페이지로 이동(태그 헬퍼)</a>