@using TestWepApp.BlazorApp.Data
@typeparam TItem where TItem : WeatherForecast
<table border="1">
    <thead>
        <tr>@Header</tr>
    </thead>
    <tbody>
        @foreach(var item in Items)
        {
            <ErrorBoundary>
@*                 <ChildContent>
                    <tr>@Row(item)</tr>
                </ChildContent>
                <ErrorContent>  
                    <div>Too cold!</div>
                </ErrorContent> *@
                <tr>@Row(item)</tr>

            </ErrorBoundary>
        }
    </tbody>
    <tfoot>
        <tr>@Footer</tr>
    </tfoot>
</table>
