<div class="nav-menu">
    <ul>
        <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="counter">Counter</NavLink></li>

        <li><NavLink href="fetchdata">Fetch data</NavLink></li>
    </ul>
</div>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
}
