<div class="rounded border-1 bg-light py-3 px-2">
    <h3 class="text-dark text-black text-lg-start mb-2">새로운 폴더 안에 만들어진 공유 페이지</h3>
    <p class="text-muted text-sm-start">@GetText</p>
</div>



@code {
    [Parameter]
    public string GetText { get; set; } = string.Empty;



}
